---

---

<div id="to-alert" class="container-fluid principal-alert hidden">
  <div class="row">
    <div id="to-alert-color" class="aspect-alert alert" role="">
      <span id="to-alert-text"></span>
      <button id="btn-alert" type="button" class="btn-close" aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<script type="text/javascript" src="./js/TooltipToAlert.js"></script>

<style>
  .principal-alert {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .aspect-alert {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 25px;
  }

  .hidden {
    display: none;
  }
</style>
